<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "invite-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :name, class: "title text-lg text-primary-500" %>
  <%= text_input f, :name, class: "input input-primary" %>
  <%= error_tag f, :name %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
